html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  background-color: rgb(32, 31, 31);
  color: azure;
  text-align: center;
}
h1 {
  color: rgb(73, 76, 240);
}
h2 {
  color: yellow;
}

img {
  border: medium solid black;
  max-width: 40%;
  height: auto;
}

ul {
  color: aqua;
}

article {
  text-align: left;
  background-color: rgba(54, 50, 50, 0.432);
}
