html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  background-color: #3a3e59;
  color: azure;
  text-align: center;
}
h1 {
  text-align: left;
  color: #ed6b5b;
  padding: 5px 20px 20px 0;
}
h2 {
  color: #f9ac66;
  text-align: left;
}

img {
  border: medium solid black;
  max-width: 40%;
  height: auto;
}

ul {
  color: #c36b84;
}

article {
  text-align: left;
  background-color: #3a3e59;
}
